---
import { Image } from "astro:assets";
import profileImg from "../../assets/images/profile.jpg";
import Social from "../Social.astro";

const { lang } = Astro.props;
const isSpanishLang = lang === "es";
const info = {
  occupationText: isSpanishLang
    ? "Desarrollador de Software"
    : "Software Developer",
  emailText: isSpanishLang ? "Correo" : "Email",
  family: {
    text: isSpanishLang ? "Estado familiar" : "Family state",
    state: isSpanishLang ? "Soltero" : "Single",
  },
  birth: {
    text: isSpanishLang ? "Nacimiento" : "Birth",
    date: new Date(2000, 0, 16).toLocaleDateString(lang, {
      year: "numeric",
      month: "long",
      day: "numeric",
    }),
  },
};
---

<section
  class="bg-white mx-4 mb-10 mt-44 pb-8 px-4 rounded-md shadow-sm motion-safe:animate-slide-down animate-duration-300 sm:w-10/12 sm:mx-auto md:w-9/12 md:mt-32 lg:w-7/12 xl:w-6/12"
>
  <div
    class="rounded-full overflow-hidden size-48 mx-auto relative -mb-20 -top-24 shadow shadow-black"
  >
    <Image src={profileImg} alt="A front face profile image." class="w-full" />
  </div>
  <h1 class="text-4xl font-bold text-center">Brandon Ventura</h1>
  <h2 class="text-2xl text-sky-600 text-center">
    {info.occupationText}
  </h2>
  <dl class="my-8 text-center text-lg">
    <div class="flex flex-wrap gap-1.5 justify-center mb-4">
      <dt class="font-bold uppercase">{info.birth.text}:</dt>
      <dd>
        {info.birth.date}
      </dd>
    </div>

    <div class="flex flex-wrap gap-1 justify-center mb-4">
      <dt class="font-bold uppercase">{info.emailText}:</dt>
      <dd>brandonventura16@gmail.com</dd>
    </div>

    <div class="flex flex-wrap gap-1 justify-center">
      <dt class="font-bold uppercase">{info.family.text}:</dt>
      <dd>{info.family.state}</dd>
    </div>
  </dl>
  <Social lang={lang} />
</section>
