---
import type { SectionItem } from "../../models/SectionModels";
interface Props extends SectionItem {}

const {
  id,
  className,
  title,
  entityName,
  achievedOn: [startedOn, finishedOn],
} = Astro.props;
---

<article id={id} class:list={[className]}>
  <h4 class="uppercase font-semibold text-xl">
    {title}
  </h4>
  <h5 class="text-sky-600 text-base font-semibold">{entityName}</h5>
  <p class="text-xs mb-4 uppercase">
    {startedOn} - {finishedOn}
  </p>
  <p class="text-base">
    <slot name="description" />
  </p>

  <slot />
</article>
